{% extends "layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/detail.css">
{% endblock style %}

{% block header %}
    <div class="logo">
        <a href="/">
            <img src="/assets/logo.png" alt="Logo Foodfy">
        </a> 
    </div>
    
    <nav class="main">
        <ul>
            <li>
                <a href="/about"> Sobre </a>
            </li>
            <li>
                <a href="/recipe"> Receitas </a>
            </li>
        </ul>
    </nav>
{% endblock header %}

{% block content %}
    <div class="content">
        <section>
            <div id="{{item.id}}">

                <div class="content-recipe-detail">
                    <img src="{{item.image}}" alt="Imagem de {{item.image}}">
                    <p class="text-1"> {{item.title}} </p>
                    <p class="text-2"> por {{item.author}} </p>
                </div>

                <div class="content-recipe-flex">
                    <div class="content-button">
                        <div>
                            <h2> Ingredientes </h2>
                            <button id='one' value="Mostrar"> Mostrar </button>
                        </div>
                        <p class="content-global ingredients" id='one'>
                            {{item.ingredients}} 
                        </p>
                    </div>

                    <div class="content-button">
                        <div>
                            <h2> Modo de preparo </h2>
                            <button id='two' value="Mostrar"> Mostrar </button>
                        </div>
                        <p class="content-global prepare" id='two'>
                            {{item.preparation}}
                        </p>
                    </div>

                    <div class="content-button">
                        <div>
                            <h2> Informações adicionais </h2>
                            <button id='three' value="Mostrar"> Mostrar </button>
                        </div>
                        <p class="content-global information" id="three">
                            {{item.information}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/scripts/detail.js"></script>
{% endblock %}