<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    {% block style %}
    {% endblock style %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
</head>

<body>
    <header>
        {% block header %}
            
        {% endblock header %}
    </header> 

    {% block content %}

    {% endblock %}

    <footer class="rodape">
        <div>
            <p> Todos direitos reservados, receitas Foodfy. </p>
        </div>
    </footer>
</body>
</html>