{% extends "layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/list.css">
{% endblock style %}

{% block header %}
    <div class="content-total">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo-admin.png" alt="Logo Foodfy">
            </a> 
        </div>

        <nav class="main">
            <ul>
                <li>
                    <a href="/"> Página Inicial </a>
                </li>
                <li>
                    <a href="/about"> Sobre </a>
                </li>
                <li>
                    <a href="/recipe"> Receitas </a>
                </li>

                {% block listMain %}
                    
                {% endblock listMain %}
            </ul>
        </nav>
    </div>
{% endblock header %}

{% block content %}
    <h2> Gerenciar receitas</h2>

    <section class="content-recipes">
        {% for recipe in recipes %}
            <div class="content-list">
                <img src="{{recipe.image}}" alt=" Imagem de {{recipe.title}}">
                <div class="content-text">
                    <h3> {{recipe.title}} </h3>
                    <p> por {{recipe.author}} </p>
                    <a href="#"> visualizar </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}

<script src="/scripts/menulist.js"></script>