@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ===== STYLE GLOBAL=====*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ===== STYLE HEADER=====*/
div.content{
    margin-left: 15%;
}

header div.logo{
    width: 90px;
    margin-top: 38px;
    margin-left: 15%;
}

nav.main{
    text-align: center;
    margin-top: -26px;
    margin-left: -20%;
}

nav.main ul li{
    position: relative;
    display: inline-block;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    color: #111;
    line-height: 16px;
}

nav.main ul li a{
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

/* =====RODAPÉ======*/
footer{
    margin-top: 20px;
    width: 100%;
    background-color: #EEEEEE;
}

footer div p{
    padding: 10px;
    clear: both;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #999999;
    text-align: center;
}