nav.main ul li a:hover{
    color: rgb(253, 156, 141);
    opacity: 0.3;
    transition: 600ms;
}

header nav.main ul li#admin{
    position: relative;
}

header nav.main ul li#admin a{
    position: absolute;
    color: rgba(15, 15, 15, 0.671);
    top: -11px;
    right: -575px;
}

header nav.main ul li#admin a:hover{
    opacity: 0.5;
    transition: 700ms;
}

header nav ul li#admin img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: -14px;
    right: -520px;
}

section.topic{
    background-color: #FBDFDB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 990px;
    height: 366px;
    margin-top: 36px;
    border-radius: 30px;
    margin-bottom: 30px;
}

section div.text-topic{
    margin-top: 100px;
    margin-left: 60px;
}

section div.text-topic h1{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 32px;
    line-height: 38px;
}

section div.text-topic p{
    font-family: 'Roboto-Regular', sans-serif;
    color: black;
    opacity: 0.7;
    line-height: 28px;
    font-size: 18px;
    width: 316px;
    height: 84px;
}

section div.img-topic{
    width: 216px;
    height: 300px;
    margin-left: 170px;
    margin-top: 66px;
}

h2{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 30px;
}

div.title-about h2{
    margin-top: 20px;
}

section.text-section div h1{
    margin-bottom: 20px;
}

section.top-6 div.card-recipe{
    cursor: pointer;
}

section.top-6 div.card-recipe div.img-card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

section.top-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10%;  
    gap: 10px;
}

section.top-6 div.card-recipe div.text-card h3{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    color: #111111;
    line-height: 21px;
}

section.top-6 div.card-recipe div.text-card p{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #777777;
    line-height: 16px;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    text-align: center;
    background-color: #FBDFDB;
    width: 60%;
    height: 80%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 0px;
    top: 8px;
    right: 8px;
    cursor: pointer;
    padding: 3px;
}

.modal .close-modal:hover{
    opacity: 0.6px;
    transition: 600ms;
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-overlay .modal img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.modal a{
    font-size: 24px;
    font-weight: bold;
    color: rgb(201, 14, 14);
    opacity: 0.8;
    text-decoration: none;
}

.modal a:hover{
    color: rgb(78, 3, 3);
    transition: 600ms;
}
