div.content-total{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

div.content-total div.logo{
    margin-top: 15px;
}

div.content-total nav.main{
   margin-top: 15px;
   margin-left: 35%;
}

div.content-total nav.main ul li a{
    color: white;
}

div.content-total nav.main ul li a:hover{
    color: rgb(253, 156, 141);
    transition: 600ms;
    opacity: 0.8;
}

h2{
    margin: 100px 200px 20px 200px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #111111;
}

.button-add{
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 200px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #6558C3;
    color: white;
    box-shadow: 1px 1.5px 3px grey;
    letter-spacing: 1.8px;
}

.button-add:hover, 
div.content-text a:hover{
    opacity: 0.8;
    transition: 900ms;
}

section.content-recipes{
   margin: 30px 200px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

section.content-recipes div.content-list{
    display: grid;
    grid-template-columns: 190px 1fr;
}

section.content-recipes div.content-list img{
    width: 170px;
    height: 80px;
    border-radius: 8px;
}

section.content-recipes div.content-list div.content-text h3{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
    font-weight: 400;
}

section.content-recipes div.content-list div.content-text p{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #777777;
    margin-bottom: 5px;

}
section.content-recipes div.content-list div.content-text a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;  
}


