
nav.main ul li a:hover{
    color: rgb(253, 156, 141);
    opacity: 0.3;
    transition: 600ms;
}

section.top{
    margin-top: 50px;
}

section.top div.card-recipe div.img-card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

section.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

section.top div.card-recipe div.text-card h3{
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    color: #111111;
    line-height: 21px;
}

section.top div.card-recipe div.text-card p{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: #777777;
    line-height: 16px;
}

